.secao-sobrenos{
    background-color: var(--cor-cinza1);
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5rem;
    box-sizing: border-box;
    gap: 2rem; 
}
h1{
    color: red;
}